@import 'partials/variables'
    
main
    #video-section
        width: 100%
        height: calc( 100vh - 5.5975rem )
        background: $black
        video
            width: 100vw
            height: 100%
            display: block

@media screen and ( min-width: 800px )
    body
        main
            #video-section
                eight: calc( 100vh - 5.875rem )