// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')

// resets
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: inherit

body
    font-family: 'Poppins', sans-serif
    font-size: 100%
    box-sizing: border-box
    overflow-x: hidden

// variables
$white: #fff
$black: #000

// classes
.display-flex
    display: flex !important

.display-none
    display: none !important

.display-block
    display: block !important

// actual styling
