@charset "UTF-8";
.show {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.width-0 {
  width: 0 !important;
}

main #video-section {
  width: 100%;
  height: calc( 100vh - 5.5975rem);
  background: #000;
}

main #video-section video {
  width: 100vw;
  height: 100%;
  display: block;
}

#cesunt-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 4rem 1rem;
}

#cesunt-section h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 2.15rem;
}

#cesunt-section h1 .word {
  margin: 0;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  opacity: 0;
}

#cesunt-section h1 .word:first-of-type {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#cesunt-section h1 .word:nth-of-type(2) {
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

#cesunt-section h1 .word:nth-of-type(3) {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
}

#cesunt-section h1 .word:last-of-type {
  -webkit-transition: all 1400ms ease-out;
  transition: all 1400ms ease-out;
}

#cesunt-section p {
  max-width: 700px;
  margin: auto;
}

#cesunt-section p a {
  color: #2B5D84;
}

#hover-images-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#hover-images-section .image-text__container {
  position: relative;
}

#hover-images-section .image-text__container .image-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: width 200ms linear;
  transition: width 200ms linear;
  cursor: pointer;
}

#hover-images-section .image-text__container .image-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#hover-images-section .image-text__container .image-cover::after {
  content: "";
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

#hover-images-section .image-text__container:first-of-type .image-cover {
  background: url("../../images/lungs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hover-images-section .image-text__container:first-of-type .image-cover::before {
  background: #2B5D84;
  opacity: .7;
}

#hover-images-section .image-text__container:first-of-type .image-cover::after {
  content: "Fibroza cistică";
  color: #fff;
}

#hover-images-section .image-text__container:first-of-type .text-container {
  background: #0d1f2e;
  color: #fff;
}

#hover-images-section .image-text__container:nth-of-type(2) .image-cover {
  background: url("../../images/down.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hover-images-section .image-text__container:nth-of-type(2) .image-cover::before {
  background: #000;
  opacity: .7;
}

#hover-images-section .image-text__container:nth-of-type(2) .image-cover::after {
  content: "Sindromul down";
  color: #fff;
}

#hover-images-section .image-text__container:nth-of-type(2) .text-container {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

#hover-images-section .image-text__container:nth-of-type(3) .image-cover {
  background: url("../../images/degenerative.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hover-images-section .image-text__container:nth-of-type(3) .image-cover::before {
  background: #f4ca24;
  opacity: .5;
}

#hover-images-section .image-text__container:nth-of-type(3) .image-cover::after {
  content: "Alzheimer";
  color: #000;
  opacity: .9;
}

#hover-images-section .image-text__container:nth-of-type(3) .text-container {
  background: #f4ca24;
  color: #000;
}

#hover-images-section .image-text__container:nth-of-type(4) .image-cover {
  background: url("../../images/ADHD.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hover-images-section .image-text__container:nth-of-type(4) .image-cover::before {
  background: #2B5D84;
  opacity: .4;
}

#hover-images-section .image-text__container:nth-of-type(4) .image-cover::after {
  content: "ADHD";
  color: #000;
  opacity: .8;
}

#hover-images-section .image-text__container:nth-of-type(4) .text-container {
  background: #9cc2df;
  color: #000;
}

#hover-images-section .image-text__container:last-of-type .image-cover {
  background: url("../../images/discromatopie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hover-images-section .image-text__container:last-of-type .image-cover::before {
  background: #000;
  opacity: .7;
}

#hover-images-section .image-text__container:last-of-type .image-cover::after {
  content: "Discromatopie";
  color: #fff;
}

#hover-images-section .image-text__container:last-of-type .text-container {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

#hover-images-section .image-text__container .click-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#hover-images-section .image-text__container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

#hover-images-section .image-text__container .text-container p {
  padding: 1rem;
  max-width: 550px;
}

#hover-images-section .image-text__container .text-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  text-decoration: none;
  color: #fff;
  background: #4f92c6;
  padding: 2rem;
  min-height: 100%;
  text-align: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#hover-images-section .image-text__container .text-container a .cta-button__arrow {
  display: inline-block;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-size: 1.25rem;
}

#hover-images-section .image-text__container .text-container a:hover .cta-button__arrow {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  color: gray;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 3rem;
  background: #2B5D84;
  color: #fff;
}

footer h2 {
  text-align: center;
}

footer .h2span {
  color: #000;
}

@media screen and (min-width: 700px) {
  body main #hover-images-section .image-text__container .text-container p {
    padding: 3rem 1rem;
  }
}

@media screen and (min-width: 800px) {
  body main #video-section {
    eight: calc( 100vh - 5.875rem);
  }
  body main #hover-images-section .image-text__container .text-container p {
    padding-left: 4rem;
  }
}
/*# sourceMappingURL=index.css.map */